:host {
  display: block;
}

.navlink {
  margin-right: 0.3rem;
}

.pointer-events-none {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color-good);
}

.title-row {
  display: flex;
}

.title-row h1 {
  flex: 1;
}
