:host {
  display: block;
}

.queued {
  color: var(--text-color-faded);
}

.correct {
  color: var(--text-color-good);
}

.incorrect {
  color: var(--text-color-bad);
}

input.incorrect {
  background-color: var(--bg-color-bad);
}

.typing-widget-container {
  border: solid 2px;
  border-radius: 1rem;
  border-color: var(--container-border-color);
  background: var(--container-color);
  padding: 1rem;
  font-size: 1.25rem;
}

.words-container {
  overflow-y: hidden;
  max-height: 3.0rem;
  line-height: 1.5rem;
}

.word-input {
  width: 100%;
  box-sizing: border-box;
}

.input-row {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
