/* You can add global styles to this file, and also import other style files */
.page app-typing-widget {
  width: 50%;
  margin: auto;
}

div.divider {
  border: 1px solid;
  border-color: #00000055;
  margin-top: 12px;
  margin-bottom: 12px;
}

div.scroll-spacer {
  margin-top: 33vh;
}

body {
  background-color: grey;
  margin: 0;
}
